/* Z-index directory */

    /* Header image card: -1 */
    /* Inside Border: 9999 */

    

/* Roboto Mono font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Inside Border */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #f5f5f5;
    pointer-events: none;
    z-index: 9999;
}


body {
    background: #1C1C1C;
    color: #FFFFFF;

    /* Font bollocks */
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Scrollbar go bye bye */

/* width */
::-webkit-scrollbar {
    width: 0;
}